RoundShield/Resources/Items.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Items">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" name="Potion">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="ID" type="xs:unsignedByte" />
              <xs:element name="Type" type="xs:string" />
              <xs:element name="Level" type="xs:unsignedByte" />
              <xs:element name="Name" type="xs:string" />
              <xs:element name="Sprite" type="xs:string" />
              <xs:element name="Time" type="xs:unsignedByte" />
              <xs:element name="Amount" type="xs:unsignedByte" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="Weapon">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="ID" type="xs:unsignedByte" />
              <xs:element name="Type" type="xs:string" />
              <xs:element name="Name" type="xs:string" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>